.head {
    color: black;
    text-align: center;
    font-size: 50px;
    line-height: 40px;
    border: 3px solid black;
    border-radius: 40px;
    position: relative;
    background: url('text.jpg');
    background-size: cover;
    font-family:cursive;
}

.points {
    font-size: 50px;
    color: maroon;
    margin-left: 200px;
    margin-right: 200px;
    background: white;
    border-radius: 30px;
    padding-top: 30px;
    padding: 30px;
    box-shadow: 3px 3px 100px black;
}
.para {
    color: black;
    font-size: 30px;
    font-family: sans-serif;
}
body {
    background-image: url('web.jpeg');
    background-size: cover;
}
.off {
    font-size: 30px;
    font-family: sans-serif;
    color: black;
    
}
img {
    width: 1000px;
    margin-left: 250px;
    border-radius: 60px;
}
.logo {
    width: 300px;
    position: absolute;
    z-index: 1;
    margin-left: 100px;
    border-radius: 50%;
    margin-top: -20px;
    box-shadow: 15px 10px 30px black;
}
.button {
    background-color: powderblue;
    color: black;
    margin-left: 750px;
    width: 500px;
    height: 80px;
    font-size: 60px;
    text-align: center;
    border-radius: 40px;
    padding: 10px 20px;
    border: solid black 3px;
    cursor: pointer;
    transition: transform 0.3s;
    font-family:cursive;
    line-height: 1px;
}
.button:hover {
    transform: scale(1.2)
}
.blogs {
    margin-left: 925px;
    font-family:monospace;
    color: white;
    font-size: 40px;
}